* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: rgba(51, 207, 155, 0.81);
}

#app {
  display: flex;
}

header {
  background-color: pink; 
  text-align: center;
  align-items: center;
}

.sidebar {
  display: flex-inline;
  flex-direction: column;
  width: 33%;
  padding-left: 2vw;
}

h1#itinerary-title {
  color: pink; 
}

#map {
  height: 100vh;
  width: 100vw;
}

@media () {

}
