* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: rgba(51, 207, 155, 0.81);
}

#app {
  display: flex;
}

#map {
  height: 100vh;
  width: 100vw;
}

header {
  background-color: pink; 
  text-align: center;
  align-items: center;
}
/* 
.things-to-do {
  display: flex;
  flex-direction: column; 
} */

/* .thing-child {
  width: 300px; 
} */

/* #to-do-list {
  width: 500px; 
} */

.sidebar {
  display: flex-inline;
  background-color: white;
  flex-direction: column;
  width: 300px;
}

@media () {

}
